extends ../layout.pug

block content
    #wrapper
        header
            .logo-center
                .outline
                    a#logo(href='/')
                        h1 Tech-Dreamer
                a.button(href="/user/signup") Sign up
